.filter-container {
  margin: 0.5rem 0;
  width: 95%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter > button {
  padding: 0.5rem;
}

.filter-options{
  border: 1px solid black;
}