.taskmodifier-container {
  margin: 0.5rem 0rem;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.taskmodifier-container > button {
  padding: 0.5rem 1rem;
}
